@charset "UTF-8";


/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    color: #444;
    min-height: 2000px;
}
img {
    vertical-align: middle;
}
.site_type {
    width: 100%;
    height: 24px;
    background: #802041;
    color: #FFF;
    line-height: 24px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
}


/* HEADER */
header {
    width: 100%;
    height: 80px;
    background: #EEE;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
    /*
    box-shadow: <offset-x> <offset-y> <blur-radius> <spread-radius> <color>;
        <offset-x> : 그림자 x축 위치 설정
        <offset-y> : 그림자 y축 위치 설정
        <blur-radius> : 그림자 blur 처리
        <spread-radius> : 그림자 크기(비율)
        <color> : 그림자 색상
    */
}
header .logo {
    position: absolute;
    top: 20px;
    left: 16px;
}
header .menu_wrap {
    position: absolute;
    top: 16px;
    right: 16px;
}
header .menu {
    float: left;
}
header .menu li {
    margin: 5px;
    float: left;
}
header .menu li a {
    color: #000;
    padding: 7px 10px;
    display: block;
}
header .version {
    width: 93px;
    height: 38px;
    margin: 5px;
    background: #FAFAFA;
    color: #757575;
    font-weight: bold;
    line-height: 38px;
    text-indent: 20px;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}
header .search {
    margin: 5px;
    padding: 7px 5px;
    cursor: pointer;
    float: left;
}



/* SECTION */
section {
    min-width: 1064px;  /* 모바일 환경에서 section 배경이 짤리는 문제 해결 */
    background: #EEE;
}
section .inner {
    width: 1032px;
    margin: 0 auto;
    padding: 150px 16px 80px 16px;
}
section .polymer_ver {
    width: 416px;
    margin-right: 88px;
    float: left;
}
section .summary {
    width: 528px;
    float: left;
}
section .summary h1 {
    font-size: 40px;
    line-height: 1.2;
}
section .summary p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 2;
}
section .summary .btn {
    float: left;
}
section .summary .get_polymer {
    margin-right: 16px;
}