@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    height: 2000px;
    color: #444;
}

.description {
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: white;
    text-align: center;
    background: #802041;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
}


/*Header*/
header {
    width: 100%;
    height: 80px;
    padding: 16px;
    background: #EEEEEE;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
}

header .logo {
    margin-top: 4px;
    float: left;
}

/*새롭게 생긴 메뉴들 추가*/
header .menu_btn {
    float: left;
    margin-top: 4px;
    z-index: 1;
    cursor: pointer;
    display: none;
}
header .menu_copy {
    width: 240px;
    padding: 12px;
    background: white;
    position: absolute;
    top: 75px;
    left: 15px;
    z-index: 1;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: none;
}
header .menu_copy.on {
    display: block;
}
header .menu_copy li a {
    line-height: 40px;
    color: black;
    text-indent: 44px;
    display: block;
    opacity: 0.5;
}
header .menu_copy li a:hover {
    opacity: 1;
}
header .menu_copy li .icon {
    width: 24px;
    height: 24px;
    margin: 8px 0 0 4px;
    position: absolute;
    display: block;
}
header .menu_copy li:nth-child(1) .icon {
    background: url("../img/menu1.svg") no-repeat 0 0;
}
header .menu_copy li:nth-child(2) .icon {
    background: url("../img/menu2.svg") no-repeat 0 0;
}
header .menu_copy li:nth-child(3) .icon {
    background: url("../img/menu3.svg") no-repeat 0 0;
}
header .menu_copy li:nth-child(4) .icon {
    background: url("../img/menu4.svg") no-repeat 0 0;
}

header .menu_wrap {
    position: absolute;
    top: 16px;
    right: 16px;
}

header .menu {
    float: left;
}
header .menu li {
    margin: 5px;
    padding: 7px 10px;
    float: left;
}
header .menu li a {
    color: #000;
}

header .version {
    width: 93px;
    height: 38px;
    margin: 5px;
    color: #757575;
    font-weight: bold;
    white-space: nowrap;
    text-indent: 20px;
    line-height: 38px;
    background: #FAFAFA;
    float: left;
    cursor: pointer;
}
header .version img {
    vertical-align: middle;
}

header .search {
    padding: 12px 8px;
    float: left;
    cursor: pointer;
}



/*section*/
section {
    background: #EEEEEE;
}
section .inner {
    max-width: 1032px;
    margin: 0 auto;
    padding: 150px 16px 80px 16px;
}

section .polymer_ver {
    width: 416px;
    margin-right: 88px;
    float: left;
}

section .summary {
    max-width: 528px;
    font-size: 16px;
    float: left;
}
section .summary h1 {
    font-size: 40px;
    line-height: 48px;
}
section .summary p {
    margin: 20px 0;
    line-height: 32px;
}
section .summary .get_polymer {
    margin-right: 16px;
}



@media screen and (max-width: 1100px) {
    section .inner {
        max-width: 780px;
    }
    section .polymer_ver {
        width: 164px;
        margin-top: 80px;
    }
}


@media screen and (max-width: 850px) {
    header .menu_btn {
        display: block;
    }
    header .menu {
        display: none;
    }

    section .inner {
        max-width: 100%;
        padding: 150px 46px 80px 46px;
    }
    section .polymer_ver {
        width: 300px;
        margin: 10px 0 40px 0;
    }
    section .summary {
        max-width: 100%;
    }
}


@media screen and (max-width: 580px) {
    header {
        height: 60px;
    }
    header .logo {
        margin-top: -6px;
    }
    header .menu_btn {
        margin-top: -2px;
    }
    header .menu_btn img {
        width: 29px;
    }
    header .version {
        margin-top: -5px;
    }
    header .search {
        padding: 2px 8px;
    }

    section .inner {
        padding: 86px 30px 40px 30px;
    }
    section .polymer_ver {
        width: 200px;
        margin: 30px 0 50px 0;
    }
    section .summary p {
        margin: 10px 0;
    }
}


@media screen and (max-width: 460px) {
    header .logo {
        margin-top: 0;
    }
    header .logo img {
        width: 120px;
    }
    section .summary .get_polymer {
        display: block;
        margin-top: 30px;
    }
}

@media screen and (max-width: 340px) {
    header .logo {
        background: url("../img/logo2.svg") no-repeat 0 0;
        width: 40px;
        height: 34px;
        margin-top: -3px;
    }
    header .logo img {
        display: none;
    }
}